/* ==================================================
                    Header
================================================== */
/* for small screens upto 500px */
.header {
  padding-block: calc(15 / 16 * 1rem);
  position: fixed;
  width: 100%;
  top: -1px;
  background-color: var(--background-color);
  z-index: 999;

  .sitename {
    font-weight: 700;
    color: var(--accent-color);
  }
  .header-content {
    display: grid;
    grid-template-columns: 1fr 36% auto;
    align-items: center;
    padding-inline: calc(12 / 16 * 1rem);

    > a {
      color: hsl(0, 0%, 100%);
      background-color: var(--accent-color);
      justify-self: center;
      padding: calc(6 / 16 * 1rem) calc(15 / 16 * 1rem);
      /* margin-inline-start: calc(85 / 16 * 1rem); */
      border-radius: calc(50 / 16 * 1rem);
    }
  }

  .nav-bar {
    display: none;
  }

  .nav-bar.active {
    display: block;
    position: absolute;
    z-index: 999;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    .nav-bar__items {
      width: 80vw;
      display: flex;
      flex-direction: column;
      background-color: var(--contrast-color);
      border: 1px solid
        color-mix(in srgb, var(--default-color), transparent 90%);

      border-radius: 6px;
      padding-block: calc(10 / 16 * 1rem);
      max-height: 90vh;
      overflow-y: auto;

      li {
        padding-block: calc(10 / 16 * 1rem);
        padding-inline: calc(20 / 16 * 1rem);
      }

      .nav-bar__dropdown,
      .nav-bar__deep-dropdown {
        display: none;
      }

      .nav-bar__dropdown.active,
      .nav-bar__deep-dropdown.active {
        display: block;
        border: 1px solid
          color-mix(in srgb, var(--default-color), transparent 90%);
        background-color: rgba(33, 37, 41, 0.03);
        padding-block: calc(10 / 16 * 1rem);
        margin-inline: calc(-5 / 16 * 1rem);
        margin-top: 8px;
        border-radius: 6px;
      }
      .nav-bar__deep-dropdown.active {
        background-color: rgba(33, 37, 41, 0.1);
      }
    }
  }

  .nav-bar__overlay {
    opacity: 0;
    pointer-events: none;
  }

  .nav-bar__overlay.active {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 101vh;
    background-color: hsl(0, 0%, 0%);
    opacity: 0.7;
    transition: opacity 0.2s ease-in;
    pointer-events: all;
  }

  .hamburger-menu {
    display: grid;
    place-items: center;
    position: relative;
    > :last-child {
      display: none;
    }
    > :last-child.active {
      display: block;
      position: absolute;
      inset: -10px;
      z-index: 999;
      max-width: none;
    }
  }
  .hamburger-menu.active {
    > :first-child {
      opacity: 0;
    }
  }
  .nav-bar__dropdown--carat {
    display: flex;
    justify-content: space-between;
    img {
      background-color: color-mix(
        in srgb,
        var(--default-color),
        transparent 90%
      );
      border-radius: 50%;
      padding: 8px;
      transition: transform 0.2s ease-in;
    }
  }
  .nav-bar__dropdown--carat.active {
    color: var(--accent-color);
    img {
      background-color: var(--accent-color);
      transform: rotate(180deg);
    }
  }
}
.header.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* for tab screens upto 1000px */
@media (width >= 545px) {
  /*chose 545px due to certian complications*/
  .header {
    .header-content {
      grid-template-columns: 1fr 20% auto;
    }
  }
}

/* for laptops and big screens upto 1000px */
@media (width >= 1024px) {
  .header {
    padding-block: calc(21 / 16 * 1rem);
    display: flex;
    justify-content: center;

    .sitename {
      justify-self: center;
    }
    .header-content {
      max-width: 1440px;
      display: grid;
      grid-template-columns: 1.5fr 4fr 1fr;

      > a {
        padding: calc(9 / 16 * 1rem) calc(25 / 16 * 1rem);
        @media (width >= 1120px) {
          margin-left: calc(30 / 16 * 1vw);
        }
        justify-self: start;
        order: 1;
      }
    }

    .nav-bar {
      display: block;
    }

    .nav-bar {
      .nav-bar__items {
        display: flex;
        flex-direction: row;

        li {
          padding: calc(10 / 16 * 1vh) calc(20 / 16 * 1vw);
        }

        :nth-child(7) li {
          padding: calc(10 / 16 * 1rem) calc(20 / 16 * 1rem);
        }
        .nav-bar__dropdown,
        .nav-bar__deep-dropdown {
          display: block;
          position: absolute;
          opacity: 0;
          pointer-events: none;
          transform: translateY(50px);
          background-color: var(--contrast-color);
          padding-block: calc(10 / 16 * 1rem);
          margin-inline: calc(-5 / 16 * 1rem);
          transition: opacity 0.2s, transform 0.3s ease;
        }

        li:hover {
          .nav-bar__dropdown,
          .nav-bar__deep-dropdown {
            display: block;
            /* position: absolute; */
            opacity: 1;
            pointer-events: all;
            /* border: 1px solid */
            /* color-mix(in srgb, var(--default-color), transparent 90%); */
            background-color: var(--contrast-color);
            padding-block: calc(10 / 16 * 1rem);
            margin-inline: calc(-5 / 16 * 1rem);
            margin-top: 8px;
            border-radius: 6px;
            box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
            transform: translateY(0);
          }
          .nav-bar__deep-dropdown {
            display: block;
            /* position: absolute; */
            opacity: 0;
            pointer-events: none;
            transform: translateX(50px);
            inset: 20% 100% -20% -100%;
            transition: opacity 0.2s, transform 0.3s ease;
          }

          .nav-bar__dropdown:nth-child(2) > *:hover {
            .nav-bar__deep-dropdown {
              display: block;
              position: absolute;
              opacity: 1;
              pointer-events: all;
              transform: translateX(0);
              inset: 20% 100% -20% -100%;
              background-color: var(--contrast-color);
            }
          }
        }

        li:hover > a,
        .nav-bar__dropdown--carat:hover {
          color: var(--accent-color);
          cursor: pointer;
        }
      }
    }

    .nav-bar__overlay {
      display: none;
    }

    .hamburger-menu {
      display: none;
    }
    .nav-bar__dropdown--carat {
      display: flex;
      justify-content: space-between;
      img {
        background-color: var(--contrast-color);
        border-radius: 0%;
        margin-inline-start: 8px;
        padding: 0;
      }
    }
  }
}

/* ==================================================
                  Hero Section
================================================== */
/* for phone screens */
.hero {
  margin-top: calc(65.2 / 16 * 1rem);
  min-height: 80vh;
  background-image: url(/assets/img/hero-bg.jpg);
  background-size: cover;
  background-position-x: center;
  position: relative;
  .hero__container {
    height: 100%;
    min-height: 80vh;
    background-color: color-mix(in srgb, hsl(0, 0%, 0%), transparent 60%);
    padding-block: calc(80 / 16 * 1rem);
    display: grid;
    place-items: center;
    .hero__content {
      padding-inline: calc(12 / 16 * 1rem);
      > * {
        color: var(--contrast-color);
      }
      > :nth-child(2) {
        color: color-mix(in srgb, var(--contrast-color), transparent 20%);
      }
      a {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 35px 10px 35px;
        border-radius: 50px;
        transition: 0.4s;
        margin-top: 30px;
        border: 2px solid var(--contrast-color);
      }
    }
  }
}

/* for tab screens */
@media (width >= 768px) {
  .hero .hero__container .hero__content {
    margin-left: auto;
    margin-right: auto;
    padding-inline: calc(12 / 16 * 1rem);
  }
}

/* for desktop screens */
@media (width >= 1024px) {
  .hero {
    margin-top: 0;
    background-position-y: center;
  }

  .hero .hero__container .hero__content {
    margin-left: calc(100 / 16 * 1%);
    padding-inline: calc(12 / 16 * 1rem);
  }

  .hero .hero__container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    place-items: center start;
    margin-top: calc(65.2 / 16 * 1rem);
  }
}

/* ==================================================
                  About Section
================================================== */
/* for phone screens and tabs */
.section__about {
  padding-block: calc(60 / 16 * 1rem);
  padding-inline: calc(12 / 16 * 1rem);
  .about__container {
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      padding-inline: calc(12 / 16 * 1rem);
    }
    .about__content {
      margin-top: calc(24 / 16 * 1rem);
      > span {
        background: var(--accent-color);
        color: var(--contrast-color);
        letter-spacing: 1px;
        padding: 10px 24px 12px 24px;
        border-radius: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        i {
          display: inline-block;
          transform: translateY(1px);
        }
        i::after {
          content: "";
          background-color: var(--contrast-color);
          mask: url("/assets/img/arrow.svg") no-repeat center / contain;
          padding: calc(8 / 16 * 1rem);
          margin-left: 8px;
        }
      }
    }
    h3 {
      color: hsl(180, 1%, 15%);
    }

    p {
      color: var(--default-color);
      line-height: 24px;
    }

    ul {
      color: var(--default-color);
      list-style: none;
      padding: 0;

      li {
        padding-bottom: 10px;
      }
      i::before {
        content: "";
        width: 18px;
        height: 18px;
        background-color: var(--accent-color);
        mask: url("/assets/img/check.svg") no-repeat center / contain;
        top: 0px;
        left: -30px;
        border-radius: 50%;
        padding: calc(12 / 16 * 1rem);
        margin-right: 4px;
        border: 1px solid var(--accent-color);
      }
    }
  }
}
/* for desktop screens */
@media (width >= 1024px) {
  .section__about {
    display: grid;
    place-items: center;
  }
  .section__about .about__container {
    flex-direction: row;
    img {
      order: 2;
      max-width: 50vw;
    }
    .about__content {
      max-width: 45vw;
    }
  }
}
