/* ==================================================
                    Header
================================================== */
/* for small screens upto 500pxs */
.header {
  padding-block: calc(15 / 16 * 1rem);
  position: sticky;
  top: -1px;
  background-color: var(--background-color);

  .sitename {
    font-weight: 700;
    color: var(--accent-color);
  }
  .header-content {
    display: grid;
    grid-template-columns: 1fr 36% auto;
    align-items: center;
    padding-inline: calc(12 / 16 * 1rem);

    > a {
      color: hsl(0, 0%, 100%);
      background-color: var(--accent-color);
      justify-self: center;
      padding: calc(6 / 16 * 1rem) calc(15 / 16 * 1rem);
      /* margin-inline-start: calc(85 / 16 * 1rem); */
      border-radius: calc(50 / 16 * 1rem);
    }
  }

  .nav-bar {
    display: none;
  }

  .nav-bar.active {
    display: block;
    position: absolute;
    z-index: 999;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    .nav-bar__items {
      width: 80vw;
      display: flex;
      flex-direction: column;
      background-color: var(--contrast-color);
      border: 1px solid
        color-mix(in srgb, var(--default-color), transparent 90%);

      border-radius: 6px;
      padding-block: calc(10 / 16 * 1rem);
      max-height: 90vh;
      overflow-y: auto;

      li {
        padding-block: calc(10 / 16 * 1rem);
        padding-inline: calc(20 / 16 * 1rem);
      }

      .nav-bar__dropdown,
      .nav-bar__deep-dropdown {
        display: none;
      }

      .nav-bar__dropdown.active,
      .nav-bar__deep-dropdown.active {
        display: block;
        border: 1px solid
          color-mix(in srgb, var(--default-color), transparent 90%);
        background-color: rgba(33, 37, 41, 0.03);
        padding-block: calc(10 / 16 * 1rem);
        margin-inline: calc(-5 / 16 * 1rem);
        margin-top: 8px;
        border-radius: 6px;
      }
      .nav-bar__deep-dropdown.active {
        background-color: rgba(33, 37, 41, 0.1);
      }
    }
  }

  .nav-bar__overlay {
    opacity: 0;
    pointer-events: none;
  }

  .nav-bar__overlay.active {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 101vh;
    background-color: hsl(0, 0%, 0%);
    opacity: 0.7;
    transition: opacity 0.2s ease-in;
    pointer-events: all;
  }

  .hamburger-menu {
    display: grid;
    place-items: center;
    position: relative;
    > :last-child {
      display: none;
    }
    > :last-child.active {
      display: block;
      position: absolute;
      inset: -10px;
      z-index: 999;
      max-width: none;
    }
  }
  .hamburger-menu.active {
    > :first-child {
      opacity: 0;
    }
  }
  .nav-bar__dropdown--carat {
    display: flex;
    justify-content: space-between;
    img {
      background-color: color-mix(
        in srgb,
        var(--default-color),
        transparent 90%
      );
      border-radius: 50%;
      padding: 8px;
      transition: transform 0.2s ease-in;
    }
  }
  .nav-bar__dropdown--carat.active {
    color: var(--accent-color);
    img {
      background-color: var(--accent-color);
      transform: rotate(180deg);
    }
  }
}
